.home{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    padding: 50px 0px 0px;
    height: 80%;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
    
    &-left{
        display: flex;
        flex-direction: column;
        width: 58%;
        color: white;
        padding: 20px;
        justify-content: left;
        
        &-header{
             padding-bottom: 20px;
             font-size: 50px;
            &-span{
                color: #850F8D;
            }
            @media screen and (max-width: 768px) {
                font-size: 30px;
        }
    }

        &-designation{
            padding-bottom: 20px;
            font-size: 30px;
            
        }
        &-about{
            font-size: 18px;
        }

        &-checks{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 20px;

            &-point{
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                &-icon{
                   color:  #850F8D;
                }
            }
        }
        @media (max-width: 768px) { /* Target mobile and tablet screens */
            width: 100%;
            padding: 20px; 

        }
       
    }
    &-right {
        width: 42%; /* Allocate space to display image */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
     flex-direction: column;
        height: 100%;
        .carousel-container {
            width: 90%;
            max-width: 500px;
            margin: auto;
            padding: 20px 0;
            &-header{
                font-size: 18px;
                margin-bottom: 10px;
                font-weight: bold;
                text-align: center;
            }
            @media (max-width: 768px) { /* Target mobile and tablet screens */
                width: 100%;
                padding: 20px; 
    
            }

          }
          
          .achievement-card {
            color: white;
            padding: 25px;
            text-align: center;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease-in-out;
            background: rgba(255, 255, 255, 0.05); /* Light transparent */
            border: 1px solid rgba(255, 255, 255, 0.2); /* Soft border */
            border-radius: 12px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Subtle shadow */
            backdrop-filter: blur(5px); /* Soft blur for a glassy effect */
            padding: 14px;
            height: fit-content;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-header{
                font-size: 18px;
                margin-bottom: 10px;
                font-weight: bold;
            }
            &-points{
                font-size: 14px;
            opacity: 0.9;
            font-style: italic ;
            }
            @media (max-width: 768px) { /* Target mobile and tablet screens */
                width: 100%;
                padding: 20px; 
    
            }
          }
          
          .achievement-card:hover {
            transform: scale(1.05);
          }
          
          
          .slick-dots li button:before {
            color: white;
            font-size: 12px;
          }
          @media (max-width: 768px) { /* Target mobile and tablet screens */
            width: 100%;
           
        }    
       
    }
 @media (max-width: 768px) { /* Target mobile and tablet screens */
    display: flex;
    flex-direction: column-reverse;
            
        }

}
.location {
    font-size: 1.1rem;
    color: #666;
  }
.cta-button {
    padding: 10px 20px;
    color: #fff;
    font-size: large;
    text-decoration: none;
    background: linear-gradient(45deg, #850F8D, #D7286A);
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(133, 15, 141, 0.3);
    width: fit-content;

    &:hover{
        background: linear-gradient(45deg, #D7286A, #850F8D);
        box-shadow: 0 8px 16px rgba(133, 15, 141, 0.6);
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
        transform: translateY(-3px);
    
    }
 
}

.home-right img {
    width: 90%;
    height: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures image fills container without distortion */
    border-radius: 8px; /* Optional, adds rounded corners */
    
    @media (max-width: 768px) { /* Target mobile and tablet screens */
        width: 100%; 
        display: none;
    }
  }
